@model IEnumerable<RealEstateApp.Models.RealtyAdDisplaySearchResult>
@using RealEstateApp.Helpers

@{
    ViewBag.Title = "SearchResults";
}

<div class="row">
    @Html.Partial("~/Views/Shared/_RealtySearchPanel.cshtml")
</div>

<div class="row">
    <div class="col-sm-4 text-left hidden-xs">
        <h4>33 Results for Apartment For Rent in Makati</h4>
    </div>
    <div class="col-sm-8 hidden-xs">
        <form class="form-inline">
            <div class="form-group col-md-3 pull-right padding-less">
                <select class="form-control input-sm" name="Sort">
                    <option>Newest First</option>
                    <option>Cheapest First</option>
                    <option>Relevance</option>
                </select>
            </div class="form-group">
        </form>
    </div>

</div>

<hr class="margin-less" />

<div class="row">

    @foreach (var item in Model)
{
    <div class="col-sm-4 col-md-3">
        @Html.Partial("~/Views/Shared/_RealtyDisplayItemPartial.cshtml", @item)
    </div>
}
    
</div>


<div class="row">
    <div class="col-md-12">
        <div class="well well-sm text-center">
            <ul class="pagination margin-less">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                @for (var i = 2; i < 4; i++)
                {
                    <li><a href="#">@i.ToString() <span class="sr-only">(current)</span></a></li>
                }
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

    </script>
}
