@{
    ViewBag.Title = "Home Page";
}
@section styles{
    <style>
        @*Lessen the padding to remove gap between navbar and jumbotron*@ body {
            padding-top: 50px;
        }

        .jumbotron {
            background-color: #3498DB;
            color: #fff;
        }

        .well {
            background-color: #2980B9;
            border: none;
        }

        #navbar-main-search {
            visibility: hidden;
        }
    </style>
}

@section jumbotron{
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" role="form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>bahaylist<span class="text">&copy;</span> Find your home.</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search for an Address, Neighborhood, or City" name="q">
                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                                                </div>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <input type="text" class="form-control" placeholder="Min Price" name="MinPrice">
                                                </div>
                                                <div class="col-xs-3 side-padding-sm">
                                                    <input type="text" class="form-control" placeholder="Max Price" name="MaxPrice">
                                                </div>
                                                <div class="col-xs-3 side-padding-sm">
                                                    <select class="form-control">
                                                        <option>All Beds</option>
                                                        <option>1+</option>
                                                        <option>3+</option>
                                                        <option>2+</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}


@section Scripts{
    <script>
        /*SUPPLEMENTARY SCRIPTS
        Author:James Alcaraz
        */
        /*------------------------------------------------------------------------
        When an item in the drop-down button is selected it will be changed
        http://www.benknowscode.com/2013/12/bootstrap-dropdown-button-select-box-control.html
        -------------------------------------------------------------------------*/
        $(document.body).on('click', '.dropdown-menu li', function (event) {

            var $target = $(event.currentTarget);

            $target.closest('.btn-group, .input-group-btn')
                .find('[data-bind="label"]').text($target.text())
                .end()
                .children('.dropdown-toggle').dropdown('toggle');

            return false;

        });


        /*------------------------------------------------------------------------
        Prevent drop-down menu from disappearing when an input got the focus
        -------------------------------------------------------------------------*/
        $(function () {
            // Setup drop down menu
            $('.dropdown-toggle').dropdown();

            // Fix input element click problem
            $('.dropdown input, .dropdown label').click(function (e) {
                e.stopPropagation();
            });
        });

    </script>
}
