
<section class="content-header">
    <h1>
        @ViewData["ContentHeaderTitle"]     
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class=""></i> Home</a></li>
        <li class="active">Properties</li>
    </ol>
</section>
