@model RealEstateApp.Models.RealtyAd

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>For Rent | 57 Salcedo Village, Makati City</strong></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="thumbnail">
                            <img src="/Content/images/thumbnailPlaceholder400x300.gif" alt="No Available Image" class="img-thumbnail border-less">
                        </div>
                        <div class="well well-sm hidden-xs hidden-sm">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/Content/images/thumbnailPlaceholder400x300.gif" alt="No Available Image" class="img-thumbnail border-less">
                                </div>
                                <div class="col-md-3">
                                    <img src="/Content/images/thumbnailPlaceholder400x300.gif" alt="No Available Image" class="img-thumbnail border-less">
                                </div>
                                <div class="col-md-3">
                                    <img src="/Content/images/thumbnailPlaceholder400x300.gif" alt="No Available Image" class="img-thumbnail border-less">
                                </div>
                                <div class="col-md-3">
                                    <img src="/Content/images/thumbnailPlaceholder400x300.gif" alt="No Available Image" class="img-thumbnail border-less">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br class="hidden-md hidden-lg" />
                    <div class="col-md-4">
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <strong>Price:</strong>
                            </div>
                            <div class="col-md-7">
                                <span>&#8369 4,500</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <strong>Address:</strong>
                            </div>
                            <div class="col-md-7">
                                <span>57 Salcedo Village</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <strong>Flr Area:</strong>
                            </div>
                            <div class="col-md-7">
                                <span>56 sqm</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <strong>Bedrooms:</strong>
                            </div>
                            <div class="col-md-7">
                                <span>2 Beds</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <strong>Bathrooms:</strong>
                            </div>
                            <div class="col-md-7">
                                <span>1 Bath</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <strong>Description</strong>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Agent Info</div>
            <div class="panel-body">
                <p>This is the agent info</p>
            </div>
        </div>
    </div>
</div>