@model RealEstateApp.Models.RealtyAd

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default glow-hover">
            <div class="panel-heading"><strong>For Rent | 57 Salcedo Village, Makati City</strong></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="thumbnail">
                            <img src="~/Content/images/42657607_1.jpg" alt="no available image" class="img-thumbnail border-less" />
                            @*<img src="/Content/images/thumbnailPlaceholder400x300.gif" alt="No Available Image" class="img-thumbnail border-less">*@
                        </div>
                        <div class="well well-sm hidden-xs hidden-sm">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/Content/images/thumbnailPlaceholder400x300.gif" alt="No Available Image" class="img-thumbnail border-less">
                                </div>
                                <div class="col-md-3">
                                    <img src="/Content/images/thumbnailPlaceholder400x300.gif" alt="No Available Image" class="img-thumbnail border-less">
                                </div>
                                <div class="col-md-3">
                                    <img src="/Content/images/thumbnailPlaceholder400x300.gif" alt="No Available Image" class="img-thumbnail border-less">
                                </div>
                                <div class="col-md-3">
                                    <img src="/Content/images/thumbnailPlaceholder400x300.gif" alt="No Available Image" class="img-thumbnail border-less">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br class="hidden-md hidden-lg" />
                    
                    @*<div class="col-md-4">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-5">
                <strong>Price:</strong>
            </div>
            <div class="col-md-7">
                <span>&#8369 4,500</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <strong>Posted:</strong>
            </div>
            <div class="col-md-7">
                <span>6 days ago <small>(4/3/2013)</small></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <strong>Address:</strong>
            </div>
            <div class="col-md-7">
                <span>57 Salcedo Village, Makati City</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <strong>Flr Area:</strong>
            </div>
            <div class="col-md-7">
                <span>56 sqm</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <strong>Bedrooms:</strong>
            </div>
            <div class="col-md-7">
                <span>2 Beds</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <strong>Bathrooms:</strong>
            </div>
            <div class="col-md-7">
                <span>1 Bath</span>
            </div>
        </div>

    </div>*@

                    <div class="col-md-4">
                        <div class ="row">
                            <div class="col-md-12">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row"><small class="col-xs-12">For Rent</small></div>
                                            <div class="row"><h3 class="col-xs-12 margin-less">&#x20b1 4,500 <small class="text-muted">/ month</small></h3></div>
                                            <div class="row"><small class="col-xs-12">Posted 6 days ago (4/21/2014)</small></div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row"><small class="col-xs-5">Location:</small><span class="col-xs-7">Makati City</span></div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row"><small class="col-xs-5">Address:</small><span class="col-xs-7">43 Salcedo Village</span></div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row"><small class="col-xs-5">Floor Area:</small><span class="col-xs-7">45 sqm</span></div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row"><small class="col-xs-5">Bedrooms:</small><span class="col-xs-7">2 beds</span></div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row"><small class="col-xs-5">Bathrooms:</small><span class="col-xs-7">2 bath</span></div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button type="button" class="btn btn-primary btn-block">Contact Property</button>
                                                </div>
                                            
                                            </div>
                                        </li>
                                    </ul>
              
                            </div>
                        </div class ="row">


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <strong>Description</strong>
                        <div class="adDescription fullDescription" itemprop="description"> Furnished House <span class="keyhigh">For</span> <span class="keyhigh">Rent</span> Near Gaisano Grand Mall (Fully Furnished)<br> With Wifi Internet Connection<br> <br> House Description:<br> 2 Storey- Townhouse (Furnished)<br> 2 Bedrooms With Air Conditioner<br> Living Area<br> Kitchen Area<br> Bath And Toilet Area<br> <br> Appliances And Furniture Provided:<br> 1 King Size Bed With Mattress+ Pillows+ Bedsheets<br> 1 Single Bed With Mattress+ Pillows+ Bedsheets<br> 2 Air Conditioner<br> 1 Closet<br> 2 Electric Fan<br> Double Burner With Stove<br> 1 Refrigerator<br> 1 Dining Set With 4 Chairs<br> 1 Sofa With Center Table<br> Television<br> Curtains<br> Rice Cooker<br> Cooking And Frying Pan<br> Kitchen Utensils<br> Electric Kettle			 <!-- 5635 Remove all features and links related to PAT --> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default glow-hover">
                    <div class="panel-heading">Agent Info</div>
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">

                                <img class="media-object" src="~/Content/images/profilePhoto1.jpg" />
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Juan Dela Cruz</h4>

                                <address>agentjames@gmail.com</address>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row"><small class="col-xs-5">Member Address:</small><span class="col-xs-7">12 Salcedo Village Makati</span></div>
                        </li>
                        <li class="list-group-item">
                            <div class="row"><small class="col-xs-5">Member Since:</small><span class="col-xs-7">June 20, 2012</span></div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-earphone"></span> Contact Numbers</button>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><span>Inquire about this property</span></div>
                    <div class="panel-body">   
                        <form method="POST" action ="#">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Email" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Phone (optional)" />
                            </div>

                            <div class="form-group">
                                <label>Message</label>
                                <textarea class="form-control" cols="20" rows="7">Hi, I found your listing on BahayList and would like to find out more about this property. Please let me know when you are available for a viewing. Thank you.</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>