@model IEnumerable<RealEstateApp.ViewModels.RealtyAdDisplayCompactViewModel>
@using RealEstateApp.Helpers

@{
    ViewBag.Title = "SearchResults";
    ViewBag.SearchViewModel = new RealEstateApp.ViewModels.RealtyAdSearchViewModel() { SortOrder = RealEstateApp.ViewModels.SortOrder.PostDateDesc};
    RealEstateApp.ViewModels.SortOrder selectedSort = ViewBag.SearchViewModel.SortOrder;
}

<div class="row">
    @Html.Partial("~/Views/Shared/_RealtySearchPanel.cshtml", ViewBag.SearchViewModel as RealEstateApp.ViewModels.RealtyAdSearchViewModel)
</div>

<div class="row">
    <div class="col-md-12">
        <div class="progress progress-striped active" id="ajaxProgressBar">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
</div class="row">

<div class="row">
    <div class="col-sm-6 text-left hidden-xs">
        <h4>33 Results for Apartment For Rent in Makati</h4>
    </div>
    <div class="col-sm-6 hidden-xs">
        <form class="form-inline">
            <div class="form-group col-md-3 pull-right padding-less">
               <select class="form-control input-sm" name="Sort" id="dummySort">
                   @Html.EnumToDropDownOptions(selectedSort)
                </select>
            </div class="form-group">
        </form>
    </div>

</div>


<div class="row" id="searchResultsPanel">

    @foreach (var item in Model)
    {
    <div class="col-sm-4 col-md-3">
        @Html.Partial("~/Views/Shared/_RealtyDisplayItemPartial.cshtml", @item)
    </div>
    }
    
</div>


<div class="row">
    <div class="col-md-12">
        <div class="well well-sm text-center">
            @Html.Paginator(4,40)
        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            //$('#ajaxProgressBar').show();
            $('#ajaxProgressBar').hide();
            $('#filterResultsFrm').submit(function (e) {
                e.preventDefault();
                $('#searchResultsPanel').html("");
                $('#ajaxProgressBar').show();
                var model = $(this).serialize();
                var strUrl = $(this).data('ajax-url');
                filterAsync(model, strUrl);
            });

            //submit form using the selected sort value
            $('#dummySort').change(function () {
                $('#filterResultsFrm input[name="SortOrder"]').val($(this).val());
                $('#filterResultsFrm').submit();
            });

            $('.pagination-item').click(function () {
                $('#filterResultsFrm input[name="Page"]').val($(this).val());
                //alert($('#filterResultsFrm input[name="Page"]').val());
                $('#filterResultsFrm').submit();
            });
        });

        function filterAsync(model, urlString) {            
            $.ajax({
                url: urlString,
                type: "GET",
                data: model,
                dataType: "html",
                success: function (partialView) {
                    $('#searchResultsPanel').html(partialView);
                },
                error: function (xhr, status, errorThrown) {
                    alert('Error in contacting the server \n'+ errorThrown +'\n' + status);
                },
                complete: function (xhr, status) {
                    $('#ajaxProgressBar').hide();
                }
            });
    }
    </script>
}
